html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  color: #4a4545;
}

.img {
  height: 100%;
  width: auto;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/* Header start */

.header {
  position: relative;
  background: url(../img/bg-order.png) no-repeat top;
  /* height: 100vh; */
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  min-height: 46px;
  margin: 0 auto;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.7);
  padding: 15px 37px;
}

.header__link::after,
.header__link:hover,
.header__link:focus {
  background: rgba(255, 255, 255, 0.15) no-repeat;
  border-radius: 2px;
  color: #ffffff;
}

.header__content {
  position: relative;
}

.header__text {
  margin-left: 100px;
  width: 50%;
  padding-top: 152px;
}

.header__title {
  font-size: 38px;
  line-height: 47px;
  margin-bottom: 22px;
  max-width: 430px;
  color: #ffffff;
}

.header__subtitle {
  font-size: 17px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 55px;
  max-width: 558px;
}

.header__img {
  position: absolute;
  right: 0;
  top: 25px;
}

.header__button-block {
  position: relative;
}

.header__button-img {
  position: absolute;
  top: 18.5px;
  left: 30px;
}

.header__button {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(201.61deg, #732cc4 7.64%, #511893 90.51%);
  border: 0;
  padding: 14px 40px 14px 53px;
  border-radius: 2px;
  margin-bottom: 217px;
}

.header__button:focus,
.header__button:hover,
.header__button::after {
  opacity: 0.75;
}

/* Header end */

/* Creating start */

.creating {
  max-width: 1330px;
  margin: 0 auto;
}

.creating__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.creating__list {
  max-width: 560px;
}

.creating__item {
  min-height: 122.5px;
}

.creating__item li {
  margin-bottom: 37px;
}

.creating__item li:last-child {
  margin-bottom: 118px;
}

.creating__title-name {
  font-weight: 900;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #4a4545;
  margin-left: 24px;
  margin-bottom: 12px;
}

.creating__title-text {
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  margin-left: 24px;
  margin-bottom: 46px;
}

.creating__point-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.creating__point-text {
  font-size: 15px;
  line-height: 27px;
  color: #696d74;
}

.creating__point-first {
  background: url(../img/Creating/point-1.svg) 21px 20px no-repeat;
  background-color: rgba(230, 240, 253, 0.35);
  border-radius: 10px;
}

.creating__point-second {
  background: url(../img/Creating/point-2.svg) 21px 20px no-repeat;
}

.creating__point-third {
  background: url(../img/Creating/point-3.svg) 21px 20px no-repeat;
}

.creating__point-four {
  background: url(../img/Creating/point-4.svg) 21px 20px no-repeat;
}

.creating__point-title {
  padding-left: 78px;
  padding-top: 20px;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #4a4545;
}

.creating__point-text {
  font-size: 15px;
  line-height: 27px;
  color: #696d74;
  padding-left: 78px;
}

.creating__img-text {
  text-align: center;
  font-weight: 900;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #4a4545;
}

/* Creating end */

/* advantages start */

.advantages {
  background: url(../img/advantages/advantages-bg-1440p.jpg) no-repeat;
}

.advantages__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -80px 0;
}

.advantages__item {
  height: 460px;
  width: 720px;
  min-height: 640px;
  text-align: center;
  padding: 80px 0;
}

.advantages__title-name {
  font-weight: 900;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #4a4545;
  margin-bottom: 13px;
}

.advantages__title {
  font-size: 27px;
  font-weight: 300;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 12px;
}

.advantages__subtitle {
  max-width: 490px;
  margin: 0 auto;
}

.advantages__subtitle-text {
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.65;
  margin-bottom: 70px;
}

/* advantages end */
